/*-------------
 	General
-------------*/

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html{
	background: #ecf0f1;
	font: normal 16px sans-serif;
	color: #555;
}

ul, nav{
	list-style: none;
}

a{
	text-decoration: none;
	color: inherit;
	cursor: pointer;

	opacity: 0.9;
}

a:hover{
	opacity: 1;
}

a.btn{
	color: #fff;
	border-radius: 4px;
	text-transform: uppercase;
	background-color: #2196F3;
	font-weight: 800;
	text-align: center;
}

hr{
	width: 150px;
	height: 2px;
	background-color: #2196F3;
	border: 0;
	margin-bottom: 80px;
}

section{
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 90px 100px;
	padding-bottom: 20px;
}

@media (max-width: 1000px){

	section{
		padding: 100px 50px;
	}

}

@media (max-width: 600px){

	section{
		padding: 80px 30px;
	}

}

section h3.title{
	color: #414a4f;
	text-transform: capitalize;
	font: bold 32px 'Open Sans', sans-serif;
	margin-bottom: 35px;
	text-align: center;
}

section p{
	max-width: 800px;
	text-align: center;
	margin-bottom: 35px;
	padding: 0 20px;
	line-height: 2;
}

ul.grid{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.mb-1{
	margin-bottom: 1rem;
}
.bg0 {background-color: #fff;}
.bg1 {background-color: #f7f7f7;}

/*-------------
 	Header
-------------*/

header{
	height: auto;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #fff;
	padding: 20px 100px ;
	background: #282c34;
	opacity: 0.9;
	box-shadow: 0 5px 15px -5px rgba(0,0,0,0.9);
}

header h2{
	font-family: 'Quicksand', sans-serif;
}

header nav{
	display: flex;
}

header nav li{
	margin: 0 15px;
}

header nav li:first-child{
	margin-left: 0;
}

header nav li:last-child{
	margin-right: 0;
}



@media (max-width: 1000px){
	header{
		padding: 20px 50px;
	}
}


@media (max-width: 700px){
	header{
		flex-direction: column;
	}

	header h2{
		margin-bottom: 15px;
	}
}

/*----------------
 	Search y filter
----------------*/
.search, .filter{
	background: #FFFFFF;
	padding: 5px;
	margin: 5px;
	border-radius: 12px;
	box-shadow: 0 5px 15px -5px rgba(0,0,0,0.9);
}

.search form input, .filter form select{
	height: 45px;
	padding: 0 20px;
	font-size: 18px;
	border: 0;
	outline: 0;
	border-radius: 12px;
	background: #FFF;
}

.filter form select::-ms-expand {
	-webkit-appearance: none;
	-moz-appearance: none;
	text-indent: 1px;
	text-overflow: '';
}

.search form button{
	height: 45px;
	width: 45px;
	border: 0;
	background: #00CDAE;
	color: #FFFFFF;
	border-radius: 12px;
	cursor: pointer;
	transition: all 0.2s;
}

.search form button:hover{
	opacity: 0.9;
	background: #00967F;
}

/*----------------
 	nav
----------------*/
header nav li a{
	background: #00CDAE;
	font-weight: bold;
	padding: 18px 20px;
	border-radius: 12px;
	box-shadow: 0 5px 15px -5px rgba(0,0,0,0.9);
}

div.order button{
	border: 0;
	background: #00CDAE;
	color: #FFF;
	font-weight: bold;
	padding: 20px;
	border-radius: 12px;
	box-shadow: 0 5px 15px -5px rgba(0,0,0,0.9);
	margin: 0 10px;
	cursor: pointer;
	transition: all .2s;
}

header div.order button:hover{
	border: 0;
	background: #00967F;
	opacity: 0.9;
}
/*----------------
 	Hero Section
----------------*/

.hero{
	position: relative;
	justify-content: center;
	min-height: 100vh;
	color: #fff;
	text-align: center;
}

.hero .background-image{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-color: #2196F3;
	z-index: -1;
}

.hero .background-image:after{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #414a4f;
	opacity: 0.75;
}

.hero h1{
	font: bold 60px 'Open Sans', sans-serif;
	margin-bottom: 15px;
}

.hero h3{
	font: normal 28px 'Open Sans', sans-serif;
	margin-bottom: 40px;
}

.hero a.btn{
	padding: 20px 46px;
}

/*--------------------
 	Our Work Section
---------------------*/

.оur-work{
	background-color: #fff;
}

.our-work .grid li{
	padding: 20px;
	height: 350px;
	border-radius: 3px;

	background-clip: content-box;
	background-size: cover;
	background-position: center;
	background-color: #333;
}

.our-work .grid li.small{
	flex-basis: 40%;
}

.our-work .grid li.large{
	flex-basis: 60%;
}

/*----------------------
 	Features Section
----------------------*/

.features{
	background-color: #f7f7f7;
}

.features .grid li{
	padding: 0 30px;
	flex-basis: 33%;
	text-align: center;
}

.features .grid li i{
	font-size: 50px;
	color: #2196F3;
	margin-bottom: 25px;
}

.features .grid li h4{
	color: #555;
	font-size: 20px;
	margin-bottom: 25px;
}

/*--------------------
 	Reviews Section
--------------------*/

.actions{
	display: flex;
	align-items: center;
	justify-content: center;
}

.reviews{
	width: 100%;
	background-color: #ecf0f1;
	display: grid;
	gap: 1rem;
	grid-template-columns: repeat(auto-fill, minmax(min(100%, 300px), 1fr));
	justify-content: center;
	align-content: center;
	text-align: center;
	grid-template-rows: masonry;
	margin: 0 auto;

}

.card{
	margin-bottom: 20px;
	background-color: #FFFFFF;
	border-radius: 16px;
	box-shadow: 0 5px 15px -5px rgba(0,0,0,0.1);
	opacity: 0.99;

}
.card:hover{
	filter: opacity(0.9);
}
.card:focus {
	outline: 0;
}

.card .card-image{
	margin-bottom: 15px;
}

.card .card-image img{
	width: 100% !important;
	border-radius: 12px;
	margin-bottom: 15px;
}

.card .card-title{
	margin-bottom: 15px;
}

.card .card-button{
	margin-top: 2.5rem;
	margin-bottom: 15px;
	display: flex;
	justify-content: space-evenly;
}

.card .card-button a{
	background: #00CDAE;
	font-weight: bold;
	padding: 15px 20px;
	border-radius: 12px;
	color: #FFF;
	box-shadow: 0 5px 15px -5px rgba(0,0,0,0.9);
}

.card .card-button button{
	border: 0;
	background: #00CDAE;
	font-weight: bold;
	padding: 15px 20px;
	border-radius: 12px;
	color: #FFF;
	box-shadow: 0 5px 15px -5px rgba(0,0,0,0.9);
	cursor: pointer;
	font-size: 15px;
}

/*---------------------
 	DETAILS
---------------------*/
.chips{
	background: #1CC2AB;
	color: #FFF;
	padding: 10px 20px;
	border-radius: 12px;
	margin: 10px;
	box-shadow: 0 5px 15px -5px rgba(0,0,0,0.9);
}


/*---------------------
 	FORMULARIOS
---------------------*/
/*
.formulario{
	background: #FFFFFF;
	width: 100%;
	padding: 50px;
	border-radius: 16px;
	box-shadow: 0 5px 15px -5px rgba(0,0,0,0.1);
	opacity: 0.99;
}

.formulario form{
	width: 500px;
}

.formulario form div{
	margin-bottom: 20px;
}

.formulario form div label{
	color: #282c34;
	font-weight: bold;
}

.formulario form input[type="text"], .formulario form input[type="file"], .formulario form textarea, .formulario form select{
	width: 100%;
	border: 2px solid rgba(9, 25, 38, 0.59);
	box-shadow: 0 5px 15px -5px rgba(0,0,0,0.2);
	border-radius: 12px;
	padding: 10px;
	outline: 0;
	transition: all .2s;
}

.formulario form input[type="text"]:focus, .formulario form input[type="file"]:focus, .formulario form textarea:focus, .formulario form select:focus{
	border-color: rgb(33, 150, 243);
	border-width: 2px;
}

.formulario form input[type="text"],.formulario form input[type="file"], .formulario form select{
	font-style: inherit;
	font-variant: inherit;
	font-stretch: inherit;
	font-size: inherit;
	line-height: inherit;
	font-family: inherit;
	letter-spacing: inherit;

	box-sizing: content-box;
	height: 1.4375em;
	-webkit-tap-highlight-color: transparent;
	display: block;
	animation-name: mui-auto-fill-cancel;
	animation-duration: 10ms;
	color: rgb(33, 33, 33);
	font-weight: 500;
	background: rgb(250, 250, 250);
	padding: 15px 14px;
	border-radius: 12px;
}

textarea{
	min-height: 100px;
	width: 100%;
}

.punctuation{
	display: flex;
	justify-content: space-evenly;
}

 */

input {
	outline: none;
	border: none;
}

input[type="number"] {
	-moz-appearance: textfield;
	appearance: none;
	-webkit-appearance: none;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
	-webkit-appearance: none;
}

textarea {
	outline: none;
	border: none;
	width: 100%;
}

textarea:focus, input:focus {
	border-color: transparent !important;
}

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; }
input:focus::-moz-placeholder { color:transparent; }
input:focus:-ms-input-placeholder { color:transparent; }

textarea:focus::-webkit-input-placeholder { color:transparent; }
textarea:focus:-moz-placeholder { color:transparent; }
textarea:focus::-moz-placeholder { color:transparent; }
textarea:focus:-ms-input-placeholder { color:transparent; }

input::-webkit-input-placeholder { color: #adadad;}
input:-moz-placeholder { color: #adadad;}
input::-moz-placeholder { color: #adadad;}
input:-ms-input-placeholder { color: #adadad;}

textarea::-webkit-input-placeholder { color: #adadad;}
textarea:-moz-placeholder { color: #adadad;}
textarea::-moz-placeholder { color: #adadad;}
textarea:-ms-input-placeholder { color: #adadad;}

.formulario{
	width: 920px;
	background: #fff;
	border-radius: 10px;
	overflow: hidden;
	padding: 62px 55px 90px 55px;
}

.form {
	width: 100%;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.form-title {
	display: block;
	width: 100%;
	font-size: 39px;
	color: #333333;
	line-height: 1.2;
	text-align: center;
	padding-bottom: 59px;
}

.wrap-input {
	width: 100%;
	position: relative;
	border: 1px solid #848282;
	border-radius: 13px;
	padding: 10px 0 9px 22px;
	margin-bottom: 20px;
}
.rs1-wrap-input {
	width: calc((100% - 30px) / 2);
}

.label-input {
	display: flex;
	font-size: 11px;
	color: #393939;
	font-weight: bold;
	line-height: 1.5;
	text-transform: uppercase;
	width: 100%;
}

.input {
	display: block;
	width: 100%;
	background: transparent;
	font-size: 18px;
	color: #555555;
	line-height: 1.2;
	padding-right: 15px;
}

input.input {
	height: 30px;
}


textarea.input {
	min-height: 150px;
	padding-top: 9px;
	padding-bottom: 13px;
}

.container-form-btn {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding-top: 20px;
	width: 100%;
}

button.btn-form {
	font-size: 14px;
	width: 100%;
	border-width: 0;
	background: #00CDAE;
	color: #FFF;
	font-weight: bold;
	padding: 20px;
	border-radius: 12px;
	box-shadow: 0 5px 15px -5px rgba(0,0,0,0.9);
	margin: 0 ;
	cursor: pointer;
	transition: all .2s;
}

button.btn-form:hover{
	background: #00967F;
	opacity: 0.9;
}

/*-------------------
	input radio
-------------------*/
.wrap-form-radio{
	width: 100% !important;
}

.form-radio {
	padding: 15px 25px 0 25px;
}

.form-radio {
	padding-bottom: 5px;
	margin-bottom: 10px;
}

.input-radio {
	display: none;
}

.punctuation{
	display: flex;
}

.label-radio {
	display: flex;
	position: relative;
	padding-left: 28px;
	cursor: pointer;
	font-size: 18px;
	color: #555555;
	line-height: 1.2;
}

.label-radio svg{
	color: #FFD253;
}

.label-radio::before {
	content: "";
	display: block;
	position: absolute;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	border: 1px solid #cdcdcd;
	background: #fff;
	left: 0;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}

.label-radio::after {
	content: "";
	position: absolute;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	border: 6px solid transparent;
	background: #00CDAE;
	-moz-background-clip: padding;
	-webkit-background-clip: padding;
	background-clip: padding-box;
	left: -5px;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	opacity: 0;
	box-shadow: 0 5px 15px -5px rgba(0,0,0,0.5);

}

.input-radio:checked + .label-radio::after {
	opacity: 0.9;
}



/*---------------------
 	Tooltip CSS
---------------------*/

[data-md-tooltip] {
	position: relative;
}
[data-md-tooltip]:before {
	content: attr(data-md-tooltip);
	position: absolute;
	bottom: -35px;
	left: 50%;
	padding: 8px;
	transform: translateX(-50%) scale(0);
	transition: transform 0.2s ease-in-out;
	transform-origin: top;
	background: #616161e6;
	color: white;
	border-radius: 2px;
	font-size: 12px;
	font-family: Roboto, sans-serif;
	font-weight: 400;
}
[data-md-tooltip]:hover:before {
	transform: translateX(-50%) scale(1);
}
[data-md-tooltip].md-tooltip--right:before {
	left: auto;
	right: -10px;
	bottom: auto;
	top: 50%;
	transform: translate(100%, -50%) scale(0);
	transform-origin: left center;
}
[data-md-tooltip].md-tooltip--right:hover:before {
	transform: translate(100%, -50%) scale(1);
}
[data-md-tooltip].md-tooltip--left:before {
	left: -15px;
	right: auto;
	bottom: auto;
	top: 50%;
	transform: translate(-100%, -50%) scale(0);
	transform-origin: right center;
}
[data-md-tooltip].md-tooltip--left:hover:before {
	transform: translate(-100%, -50%) scale(1);
}
[data-md-tooltip].md-tooltip-disabled:before {
	display: none;
}

.md-tooltip--top:before {
	top: -35px;
	bottom: auto;
	transform: translateX(-50%) scale(0);
	transform-origin: bottom center;
}